.form {
   display: flex;
   flex-direction: column;
   padding: 38px 30px;
   background: rgba(0, 0, 0, .4);
   border-radius: 10px;
}

.form>*:not(:last-child) {
   margin-bottom: 31px;
}

.form__input-box {
   position: relative;
}

.form__input {
   width: 380px;
   height: 60px;
   padding: 24px 20px;
   border: 1px solid #FF5C00;
   border-radius: 10px;

   font-size: 16px;
   line-height: 19px;
}

.form__btn {
   padding: 19px 53px;
   align-self: flex-start;
   background-color: #FF5C00;
   border: none;
   border-radius: 10px;

   color: #fff;
   font-size: 20px;
   line-height: 23px;
}

.form__btn:hover {
   background-color: #ff8800;
}

.form__btn:active {
   opacity: .8;
}

.just-validate-error-label {
   position: absolute;
   left: 20px;
   top: -20px;

   color: #FF5C00 !important;
   font-size: 13px;
   line-height: 14px;
}

.just-validate-success-label {
   position: absolute;
   top: -28px;
   left: 35%;
   color: #34d334;
   font-size: 19px;
}